.cards{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	font-family: sans-serif;
	font-size: .9em;
}
.cards.admin-view{
	margin-left: 30vh;
}
.cards .card{
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	margin-bottom: .9em;
}
.card.rounded{
	border-radius: .4em;
}
.card.bordered{
	border-left: 5px solid #8c8ccc;
}
.card .card-header{
	padding: .8em;
	border-bottom: 1px solid rgba(0,0,0,.2);
	font-weight: bold;
}
.card .card-body{
	min-height: 50px;
	padding: .2em 1.5em;
}

.card-body .card-picture{
	text-align: center;
}
.card-body .card-picture img{
	color: #1e1e4c;
	text-align: center;
	margin: 0 auto;
	/*width: 120px;*/
}
.card-body .card-description{
	font-size: 1em;
}
.card-body .card-description-title{
	font-weight: bold;
}
.card .card-footer{
	padding: .2em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card-footer button.delete-booking{
	margin: 0 auto;
}
/* Modals */
.modal {
  position: fixed;
  background: rgba(0,0,0,.2);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out;
}

.modal-dialog {
  background: white;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .4em;
  position: relative;
  width: 600px;
  margin: 10rem auto;
  transition: transform .3s ease-out;
  transform: translate(0, -25%);

}
.modal.show .modal-dialog{
	transform: translate(0,0);
}
.modal-dialog .modal-header{
	padding: .8em;
	border-bottom: 1px solid rgba(0,0,0,.15);
}
.right{
	float: right;
}
.modal-backdrop{
	cursor: pointer;
}
.modal-body{
	padding: .8em;
}
.modal-descriptions{
	width: 100%;
}
.body-description{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: .9em;
}
.modal-footer{
	border-top: 1px solid rgba(0,0,0,.15);
	padding: .8em;
	display: flex;
}
