 /*Ui responsiveness */
@media(max-width: 720px){
	nav.upper-nav{
		margin-bottom: .8em;
	}
	div.landing{
		display: flex;
		flex-direction: column-reverse;
	}
	div.description-title{
		margin-bottom: .5em;
	}
	.card{
		width: 47% !important;
	}
	/*sidebar*/
	.sidebar{
		opacity: 0;
	    visibility: hidden;
		transition: all .3s ease-in;
	}
	.cards.admin-view{
		margin-left: 0 !important;
	}
	.sidebar-toggle{
		display: inline;
	}
	.modal-dialog{
		width: 90% !important;
	}
	form.filter-trips{
		width: 100% !important;
	}
}
@media(max-width: 500px){
	body{
		padding-top: 70px;
	}
	.btn-lg {
	    padding: .4em 1.5em;
	    font-size: 1em;
	}
	nav.main-nav li a{
		padding: 0 1em;
	}
	div.description-title{
		text-align: justify;
		font-size: 1.5em;
	}
	footer .ft-sections{
	    flex-direction: column;
	    text-align: center;
	}
	footer .ft-sections .col{
	    width: 100%;
	}
	form{
		padding: 10px;
		width: 100% !important;
	}
	form.filter-trips{
		display: block !important;
	}
	.filter-trips .custom-select{
		width: 130px;
	}
	/* cards */
	.card{
		width: 98% !important;
	}
}
@media(max-width: 335px){
	nav.upper-nav ul li{
		background: transparent;
	}
	main{
		padding: 1.5em .5em !important;
	}
	.toaster-control{
		position: fixed;
		top: 14%;
		left: 0;
		text-align: center;
		z-index: 3000;
	}
	.toaster{
		display: block;
		padding: .5em .6em;
		width: 90%;
		box-sizing: border-box;
		margin: 0 auto;
	}
}

/*@media(max-width: 500px){
	nav.main-nav li a{
		padding: 0 1em;
	}
}